<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Custom CSS -->
    <link rel="stylesheet" type = "text/css" href="../static/analysis.css">
<!--    <link rel="stylesheet" type = "text/css" href="{{ url_for('static', filename='analysis.css') }}">-->
<!-- Plotly -->
<!--	<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>    -->
<!-- HighCharts -->
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>
<!-- jQuery -->  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
    
<body>
<header>
    <h1 id="title">Options-Pricer</h1>
</header>
    
<h1>'AAPL'</h1>    
<h2>'1-Day / 90% Spot / Bull Spread'</h2>
<button class="collapsible">Create New Visualizations</button>
    <div class="content">
<!--        {{ url_for('update') }}-->
        <div>
<!--
            <h3>Pricing Methodology</h3>
            <select size="1" name="method">
                <option value="B-S">Black-Scholes
                </option>
                <option value="GARCH(1,1)">GARCH(1,1)
                </option>
                <option value="GARCH(1,2)">GARCH(1,2)
                </option>
                <option value="NGARCH">NGARCH
                </option>
                <option value="Jump Diffusion">Jump Diffusion
                </option>
                <option value="10-Step Binomial">10-Step Binomial
                </option>
            </select>
-->
            <h3>Trading Strategy</h3>
            <select size="1" id="trading_strategy">
                <option value="Calls">Calls
                </option>
                <option value="Puts">Puts
                </option>
                <option value="Straddles">Straddles
                </option>
                <option value="Bear-Spreads-A">Bear Spreads: Aggressive
                </option>
                <option value="Bear-Spreads-P">Bear Spreads:  Passive
                </option>
                <option value="Bull-Spreads-A">Bull Spreads: Aggressive
                </option>
                <option value="Bull-Spreads-P">Bull Spreads:  Passive
                </option>
<!--
                <option value="Box Spreads">Box Spreads
                </option>
                <option value="Butterfly Spreads">Butterfly Spreads
                </option>
                <option value="Calendar Spreads">Calendar Spreads
                </option>
                <option value="Straddles">Straddles
                </option>
                <option value="Straps">Straps
                </option>
                <option value="Strips">Strips
                </option>
                <option value="Strangles">Strangles
                </option>
-->
            </select>
            <h3>Option Length</h3>
            <select size="1" id="option_length" >
                <option value="1" selected="selected">1-Day
                </option>
                <option value="2">2-Day
                </option>
                <option value="3">3-Day
                </option>
                <option value="4">4-Day
                </option>
                <option value="5">5-Day
                </option>
                <option value="6">6-Day
                </option>
                <option value="7">7-Day
                </option>
                <option value="8">8-Day
                </option>
                <option value="9">9-Day
                </option>
                <option value="10">10-Day
                </option>
                <option value="11">11-Day
                </option>
                <option value="12">12-Day
                </option>
                <option value="13">13-Day
                </option>
                <option value="14">14-Day
                </option>
                <option value="30">1-Month
                </option>
                <option value="60">2-Month
                </option>
                <option value="90">3-Month
                </option>
                <option value="120">4-Month
                </option>
                <option value="150">5-Month
                </option>
                <option value="180">6-Month
                </option>
                <option value="210">7-Month
                </option>
                <option value="240">8-Month
                </option>
                <option value="270">9-Month
                </option>
                <option value="300">10-Month
                </option>
                <option value="330">11-Month
                </option>
                <option value="365">1-Year
                </option>
            </select>
            <h3>Strike Price (as Percentage of Spot Price)</h3>
            <select size="1" id="strike">
                <option value="90" selected="selected">90%
                </option>
                <option value="91">91%
                </option>
                <option value="92">92%
                </option>
                <option value="93">93%
                </option>
                <option value="94">94%
                </option>
                <option value="95">95%
                </option>
                <option value="96">96%
                </option>
                <option value="97">97%
                </option>
                <option value="98">98%
                </option>
                <option value="99">99%
                </option>
                <option value="100">100%
                </option>
                <option value="101">101%
                </option>
                <option value="102">102%
                </option>
                <option value="103">103%
                </option>
                <option value="104">104%
                </option>
                <option value="105">105%
                </option>
                <option value="106">106%
                </option>
                <option value="107">107%
                </option>
                <option value="108">108%
                </option>
                <option value="109">109%
                </option>
                <option value="110">110%
                </option>
            </select>
            <br>
            <br>
            <button id="submit">Generate</button>
        </div>
        <br>
    </div>

<!--<div id="loc" style="width:100%; height:300px;"></div>    -->

<!--
<script>
$(document).ready(function () { 
    var myChart = Highcharts.chart('#loc', {
        chart: {
            type: 'bar'
        },
        title: {
            text: 'Fruit Consumption'
        },
        xAxis: {
            categories: ['Apples', 'Bananas', 'Oranges']
        },
        yAxis: {
            title: {
                text: 'Fruit eaten'
            }
        },
        series: [{
            name: 'Jane',
            data: [1, 0, 4]
        }, {
            name: 'John',
            data: [5, 7, 3]
        }]
    });
});
</script>
-->
    
<button class="collapsible">Asset Price Evolution</button>
    <div class="content">
        <br>
        <div id="container" style="width:100%; height:400px;"></div>
        <br>
        <br>
        <br>
        <br>
    </div>
<!--
<button class="collapsible">Volatility Evolution</button>
    <div id="asset_price">
    </div>
    
<button class="collapsible">Strategy Cost</button>
    <div id="asset_price">
    </div>

<button class="collapsible">Day-to-Day ROI</button>
    <div id="asset_price">
    </div>
    
<button class="collapsible">Distribution of Returns</button>
    <div id="asset_price">
    </div>
-->

<!--  SCRIPTS DOWN HERE  -->
    
<script>
var coll = document.getElementsByClassName("collapsible");
var i;
    
for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.maxHeight){
      content.style.maxHeight = null;
    } else {
      content.style.maxHeight = content.scrollHeight + "px";
    } 
  });
}
</script>

<script>

$( document ).ready(function(){
    $.get( '{{ url_for('prices') }}', {} )
    .done(function( data ) {
        console.log(data)
        Highcharts.chart('container', {
            chart: {
                zoomType: 'x'
            },
            title: {
                text: 'AAPL Price'
            },
//            subtitle: {
//                text: document.ontouchstart === undefined ?
//                        'Click and drag in the plot area to zoom in' : 'Pinch the chart to zoom in'
//            },
            xAxis: {
                type: 'datetime',
                minTickInterval: 28*24*3600*1000
            },
            yAxis: {
                title: {
                    text: 'Price',
                    min: 0,
                    softMin: 0
                }
            },
            legend: {
                enabled: false
            },
            plotOptions: {
                area: {
                    fillColor: {
                        linearGradient: {
                            x1: 0,
                            y1: 0,
                            x2: 0,
                            y2: 1
                        },
                        stops: [
                            [0, Highcharts.getOptions().colors[0]],
                            [1, Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
                        ]
                    },
                    marker: {
                        radius: 2
                    },
                    lineWidth: 1,
                    states: {
                        hover: {
                            lineWidth: 1
                        }
                    },
                    threshold: null
                }
            },

            series: [{
                type: 'area',
                name: 'Price',
                data: JSON.parse(data),
                turboThreshold: 0,
                pointInterval: 10
            }]
        });
    });
});
</script>

<script>
$( '#submit' ).click(function() {
    $.get( '{{ url_for('update') }}', { trading_strategy: $('#trading_strategy').val(), option_length: 
               $('#option_length').val(), strike: $('#strike').val() } )
    .done(function( data ) {
        console.log(data)     
//    alert( "Data Loaded: " + data );
    });
});
</script>
    
<!--
<script type="text/javascript">
	test = document.getElementById('insert_here');
    
    var trace1 = {
        type: "scatter",
        mode: "lines",
        name: 'AAPL',
        x: [1, 2, 3, 4]
        y: [10, 20, 30, 40]
        line: {color: '#17BECF'}
    };

    var data = [trace1];

    Plotly.newPlot('inser_here', data);
    
    var x_input = {{ date |safe }}
    var y_input = {{ price |safe }}
    x_input = 
    y_input = 
    Plotly.newPlot( test, [{
	x: x_input
	y: y_input }]);
</script>
-->
    
<!--
<script>
    
Plotly.d3.csv("AAPL.csv", function(err, rows){
    function unpack(rows, key) {
        return rows.map(function(row) { return row[key]; });
    }
    
    var trace1 = {
        type: "scatter",
        mode: "lines",
        name: 'AAPL',
        x: unpack(rows, 'Date') 
        y: unpack(rows, 'Price')
        line: {color: '#17BECF'}
    };

    var data = [trace1];

    Plotly.newPlot('tester', data);
    })
     
</script>
-->
    
</body>
</html>
