<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="content-type" content="text/html">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Options-Pricer</title>
    
<!-- Bootstrap Core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
<!-- Custom CSS -->
<link rel="stylesheet" type = "text/css" href={{ url_for('static', filename='index.css') }}>
<!--<link rel="stylesheet" type = "text/css" href="../static/index.css">-->
    
<!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Uncial+Antiqua" rel="stylesheet">
    
<!-- Favicon -->
    <link rel="icon" type="image/png" href="img/favicon.png">
</head>
    
<body>
<header>
    <h1 id="title">Options-Pricer</h1>
</header>
    
<div id="container">   
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <br>
        <p id="how-to">Options-Pricer is an automated backtesting software. The premise is simple: you pick an asset you want option pricing analysis on and O-P computes the results and presents them to you visually. Upload a .csv file with 2 columns labeled 'Date' and 'Price' with time series data in the rows below.</p>   
        <br>
        <form action= {{ url_for('index') }} method="post" enctype="multipart/form-data" id="upload">
            <input type="file" value="historical" name="upload">
            <h4>Asset Name</h4>
            <input class="default" type="text" name="asset" value="AAPL">
            <br>
            <h4>Date Format</h4>
            <input class="default" type="text" name="format" value="">
            <br>
            <h4>Start Date</h4>
            <input class="default" type="text" name="start" value="aa-bb-cccc">
            <br>
            <h4>End Date</h4>
            <input class="default" type="text" name="end" value="xx-yy-zzzz">
            <br>
            <h4>Trading Days</h4>
            <select size="1" name="trading_days">
                <option value="weekdays" selected="selected">Mo-Tu-We-Th-Fr
                </option>
                <option value="weekends">Mo-Tu-We-Th-Fr-Sa-Su
                </option>
            </select>
            <br>
            <br>
            <br>
            <input type="submit" id="upload-file-btn" value=Upload>
        </form>
    </div>

    
</div>

<!--
<script>
let input = $( "input:file" )
//.css({
//  background: "yellow",
//  border: "3px red solid"
});
//$( "div" )
//  .text( "For this type jQuery found " + input.length + "." )
//  .css( "color", "red" );
$( "form" ).submit(function( event ) {
  event.preventDefault();
});
</script>
-->

<!--
<script>
$(function() {
    $('#upload-file-btn').click(function() {
        var form_data = new FormData($('#upload-file')[0]);
        $.ajax({
            type: 'POST',
            url: '/parameters',
            data: form_data,
            contentType: false,
            cache: false,
            processData: false,
            async: false,
            success: function(data) {
                console.log('Success!');
            },
        });
    });
});    
</script>
-->
    
</body>        
</html>
