<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Custom CSS -->
    <link rel="stylesheet" type = "text/css" href="../static/analysis.css">
<!-- HighCharts -->
    <script src="https://code.highcharts.com/highcharts.js"></script>
<!-- jQuery -->  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
    
<body>
<header>
    <h1 id="title">Options-Pricer</h1>
</header>
    
{% block content %}
  <div class="container">
    <div class="col-12-xs">
      <h3>Bucket Info</h3>
      <p>Created: {{ my_bucket.creation_date }}</p>

      <hr>
      {% for f in files %}
      {{ f.key }}<br>
      {{ f.last_modified }}<hr>
      {% endfor %}

    </div>
  </div>
{% endblock %}


<!------------------  SCRIPTS DOWN HERE  ------------------>
<!------------------  SCRIPTS DOWN HERE  ------------------> 

    
</body>
</html>
